.background-pop{
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.5s;
}

.open-backg{
  z-index: 10;
  opacity: 1;
}

.pop-up{
  max-width: 480px;
  padding: 35px 15px;
  width: 80%;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  transform: translate(0, -50%);
  top: 50%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  border-radius: 8px;
  h3{
    color: #222222;
    font-size: 24px;
    font-family: 'Conv_PROXIMANOVA-BOLD';
    margin-bottom: 25px;
    text-align: center;
  }
  h4{
    text-align: center;
    color: #222222;
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 400;
  }
  p{
    color: #a2a2a2;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
  }
  form{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    button{
      margin-bottom: 10px;
      text-align: center;
      background-color: #54559c;
      color: #fff;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      height: 41px;
      padding: 15px;
      min-width: 140px;
      &:hover{
        background: rgba( #54559c, 0.9 );
      }
    }
    .gray{
      background: #f7f7f7;
      color: #222222;
    }
  }
}
.send-check-pop{
  padding: 35px 15px 65px 15px;
  .container-pop{
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
  }
  h4{
    text-align: center;
    color: #222222;
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 400;
  }
  form{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    input{
      width: 189px;
      margin-bottom: 10px;
      height: 41px;
      border: 1px solid #a2a2a2;
      background-color: #ffffff;
      padding: 10px 15px;
      text-align: center;
    }
    button{
      margin-bottom: 10px;
      text-align: center;
      background-color: #54559c;
      color: #fff;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      height: 41px;
      padding: 15px;
      min-width: 140px;
      &:hover{
        background: rgba( #54559c, 0.9 );
      }
    }
  }
}
.yes-pop{
  padding: 35px 15px;
  h4{
    text-align: center;
    color: #222222;
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 400;
  }
  form{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    button{
      margin-bottom: 10px;
      text-align: center;
      background-color: #54559c;
      color: #fff;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      height: 41px;
      padding: 15px;
      min-width: 140px;
      &:hover{
        background: rgba( #54559c, 0.9 );
      }
    }
  }
}
.delete-card{
  .container-pop{
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
  }
}

.open-popfiin{
  opacity: 1;
  z-index: 11;
}