<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Профиль специалист как видит специалист</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="stylesheet" href="../css/profile_menu.min.css">
    <link rel="stylesheet" href="../css/profile.min.css">
    <link rel="stylesheet" href="../css/profile-menuFin.min.css">
    <link rel="stylesheet" href="../css/profile-album.min.css">
    <link rel="stylesheet" href="../css/profile-photo-Spec.min.css">
    <link rel="stylesheet" href="../css/profile-spec2.min.css">

</head>

<body>

  <header>
    <div class="header-content">
        <div class="container clearfix">
            <div class="userInfox clearfix">
                <a class="likes" href="javascript:void(0)"><i class="icon-icon3"></i></a>
                <a class="messages notifications_popup-open" href="javascript:void(0)">
                    <i class="icon-icon10"></i>
                    <span>21</span>
                </a>
                <a class="score mobile" href="projects.html">Проекты</a>
                <a class="score desctop" href="score.html">Магазин</a>
                <div class="info">
                    <div class="userName">
                        <p>Иван Иванов</p>
                        <span class="arrow"><i class="icon-icon28"></i></span>
                    </div>
                    <ul class="headerSetting">
                        <li>
                            <a href="javascript:void(0)">Мои сообщения</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Мои сообщения</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Мои сообщения</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Мои сообщения</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Мои сообщения</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu-logo clearfix">
                <span class="open-menu">
                    <span></span>
                </span>
                <div class="mobile-mainMenu mobile-mainMenuUser" id="mobile-mainMenu">
                    <span class="closeBtn"></span>
                    <div class="mobile-content">
                        <nav class="userMenu">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="icon-icon5"></i>Моя страницы<span></span></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="icon-icon15"></i>Новости<span></span></a>
                                </li>
                                <li class="active"><a href="javascript:void(0)"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Компании<span></span></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="icon-icon17"></i>Проекты<span></span></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="icon-icon14"></i>Фотографии<span></span></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="icon-icon19"></i>Видео<span></span></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon7"></i>Товары<span></span></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon3"></i>Закладки<span></span></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                                <li><a href="profile-events.html"><i class="icon-calendar"></i>События<span></span></a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="userMenu-2">
                            <ul>
                                <li class="active"><a href="specialists.html">Специалисты</a></li>
                                <li><a href="organizations.html">Организации</a></li>
                                <li><a href="events.html">События</a></li>
                                <li><a href="media.html">Медиа</a></li>
                                <li><a href="score.html">Магазин</a></li>
                            </ul>
                        </nav>
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="icon-icon34"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                        </ul>
                    </div>
                </div>
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <form>
                    <input type="text">
                    <button><i class="icon-icon25"></i></button>
                </form>
                <nav class="desktop-mainMenu">
                    <ul>
                        <li class="active"><a href="specialists.html">Специалисты</a></li>
                        <li><a href="organizations.html">Организации</a></li>
                        <li><a href="events.html">События</a></li>
                        <li><a href="projects.html">Проекты</a></li>
                        <li><a href="media.html">Медиа</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="bread-crumbs">
    <div class="container">
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="profile-expert.html">Профиль</a></li>
        </ul>
    </div>
</div>

<div class="container">
  <div class="page-content clearfix">

    <div class="profile-expert profile-album">

      <div class="profile__heading">
        <div class="profile_leftBlk">
            <div class="profile_leftBlk-avatar">
                <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img4.png">
                    <img src="../img/year-item-img4.png" alt="logotype">
                </a>
            </div>
        </div>
        <div class="profile_info">
            <div class="profile_info-author">
                <h2>Иван Иванов</h2>
                <span class="label">Pro</span>
            </div>
            <div class="profile_info-content">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    является стандартной "рыбой" для текстов на латинице с начала</p>
            </div>
            <div class="profile_info-lists">
                <ul>
                    <li>
                        <p>Город: Москва</p>
                    </li>
                    <li>
                        <p>Город: Москва</p>
                    </li>
                    <li>
                        <p>Телефон: +7 (123) 456 ХХ ХХ</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Стоимость часа работы: 100 р.</p>
                    </li>
                    <li>
                        <p>Минимум 2 часа</p>
                    </li>
                    <li>
                        <p>На сайте: 3 года</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile_info-btns">
            <a href="profile-messages2.html" class="btn">Написать собщение</a>
            <div class="wrap">
                <div class="select">
                    <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}">
                        <option>У вас в друзьях</option>
                        <option>У вас в друзьях 1</option>
                        <option>У вас в друзьях 2</option>
                    </select>
                </div>
                <a href="javascript:void(0)" class="btn-white"><span class="dot"></span><span class="dot"></span><span class="dot"></span></a>
            </div>
        </div>
      </div>

      <div class="container">
        <h5>Портреты</h5>
        <p class="description">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично... стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на.....</p>

        <div class="album-photo">
          <div class="two-f">
            <div class="gallery__img w28">
              <img src="../img/img254.jpg" alt="">
            </div>
            <div class="gallery__img w21">
              <img src="../img/img198.jpg" alt="">
            </div>
          </div>
          <div class="two-f reverse">
            <div class="gallery__img w28">
              <img src="../img/img254-2.jpg" alt="">
            </div>
            <div class="gallery__img w21">
              <img src="../img/img198.jpg" alt="">
            </div>
          </div>
    
          <div class="two-f rev-desc">
            <div class="gallery__img w21">
              <img src="../img/img198.jpg" alt="">
            </div>
            <div class="gallery__img w28">
              <img src="../img/img254.jpg" alt="">
            </div>
          </div>
          <div class="two-f reverse rev-desc">
            <div class="gallery__img w21">
              <img src="../img/img198.jpg" alt="">
            </div>
            <div class="gallery__img w28">
              <img src="../img/img254-2.jpg" alt="">
            </div>
          </div>
    
          
    
          <div class="two-f">
            <div class="gallery__img w28">
              <img src="../img/img254.jpg" alt="">
            </div>
            <div class="gallery__img w21">
              <img src="../img/img198.jpg" alt="">
            </div>
          </div>
          <div class="two-f reverse">
            <div class="gallery__img w28">
              <img src="../img/img254-2.jpg" alt="">
            </div>
            <div class="gallery__img w21">
              <img src="../img/img198.jpg" alt="">
            </div>
          </div>
    
          <div class="two-f rev-desc">
            <div class="gallery__img w21">
              <img src="../img/img198.jpg" alt="">
            </div>
            <div class="gallery__img w28">
              <img src="../img/img254.jpg" alt="">
            </div>
          </div>
          <div class="two-f reverse rev-desc">
            <div class="gallery__img w21">
              <img src="../img/img198.jpg" alt="">
            </div>
            <div class="gallery__img w28">
              <img src="../img/img254-2.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <footer>
    <div class="footer-container">
        <div class="container">
            <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
            <div class="footer-content clearfix">
                <nav>
                    <ul>
                        <li><a href="specialists.html">Специалисты</a></li>
                        <li><a href="organizations.html">Организации</a></li>
                        <li><a href="events.html">События</a></li>
                        <li><a href="score.html">Магазин</a></li>
                    </ul>
                </nav>
                <ul class="sosial">
                    <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                </ul>
                <p>© 2018 Все права защищены</p>
            </div>
        </div>
    </div>
</footer>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/fileinput.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/profile-messages.min.js"></script>

    <script src="../js/script.min.js"></script>
    <!-- <script src="../js/profile-album.min.js"></script> -->

</body>

</html>