<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Карточка проекта переписка с несколькими исполнителемя</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="stylesheet" href="../css/project_cardRedesign.min.css">
</head>

<body>

    <header>
    <div class="header-content">
        <div class="container clearfix">
            <div class="check-entrance clearfix">
                <a class="check" href="sign-in.html"><i class="icon-icon36"></i>Вход</a>
                <a class="entrance" href="register-form.html"><i class="icon-icon5"></i>Регистрация</a>
            </div>
            <div class="menu-logo clearfix">
                <span class="open-menu">
                    <span></span>
                </span>
                <div class="mobile-mainMenu" id="mobile-mainMenu">
                    <span class="closeBtn"></span>
                    <div class="mobile-content">
                        <nav>
                            <ul>
                                <li class="active"><a href="specialists.html">Специалисты</a></li>
                                <li><a href="organizations.html">Организации</a></li>
                                <li><a href="events.html">События</a></li>
                                <li><a href="score.html">Магазин</a></li>
                                <li><a href="projects.html">Проекты</a></li>
                                <li><a href="media.html">Медиа</a></li>
                            </ul>
                        </nav>
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                        </ul>
                    </div>
                </div>
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <nav class="desktop-mainMenu">
                    <ul>
                        <li class="active"><a href="specialists.html">Специалисты</a></li>
                        <li><a href="organizations.html">Организации</a></li>
                        <li><a href="events.html">События</a></li>
                        <li><a href="score.html">Магазин</a></li>
                        <li><a href="projects.html">Проекты</a></li>
                        <li><a href="media.html">Медиа</a></li>
                    </ul>
                </nav>
                <form>
                    <input type="text">
                    <button><i class="icon-icon25"></i></button>
                </form>
            </div>
        </div>
    </div>
</header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Проекты</span></li>
            </ul>
        </div>
    </div>

    <div class="projectsCard">
        <div class="container">
            <h2 class="projectsCard__heading">Необходимо снять на видео 8 мероприятий</h2>
            <!-- кнопки только на мобильном -->
            <div class="projectsCard__actions flex2 mobile">
                <a href="javascript:void(0)" class="btn">Закрыть проект</a>
                <a href="javascript:void(0)" class="btn">Доложить о готовности</a>
            </div>
            <!---->
            <div class="projectsCard__content">
                <div class="projectsCard__content-top">
                    <div class="author">
                        <div class="author-avatar">
                            <a href="profile.html">
                                <img src="../img/projects_page/avatar.png" alt="avatar">
                                <span class="status active"></span>
                            </a>
                        </div>
                        <div class="author-info">
                            <a href="profile.html" class="name">Иван Иванов </a>
                            <p class="city">Новосибирск</p>
                        </div>
                    </div>

                    <!-- текст обновления зависит от времени, которое прошло после обновления -->
                    <!-- только на десктопе -->
                    <div class="projectsCard__content-updated desktop">
                        <!-- <p><span>28.02.19, </span>обновлено 29.02.19 в 19:00</p> -->

                        <!-- сразу после сохранения изменений выводить следующий текст -->
                        <p>обновлено</p>

                    </div>
                    <!--  -->
                    <div class="rating">
                        <p>
                            Иван Иванов
                            <span>(5826 <i class="icon-icon1"></i>)</span>
                        </p>
                        <p>Положительных отзывов 100%</p>
                    </div>
                </div>

                <!-- текст обновления зависит от времени, которое прошло после обновления -->
                <!-- только на mobile -->
                <div class="projectsCard__content-updated mobile">
                    <!-- <p><span>28.02.19, </span>обновлено 29.02.19 в 19:00</p> -->

                    <!-- сразу после сохранения изменений выводить следующий текст -->
                    <p>обновлено</p>

                </div>
                <!--  -->
                <div class="projectsCard__content-text">
                    <h3>Необходимо снять на видео 8 мероприятий</h3>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                        фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та
                        склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
                        прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                        фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та
                        склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
                        прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                    <h4>Обязанности</h4>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                        фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та
                        склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
                        прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                        фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та
                        склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
                        прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                    <h5>Требования к кандидату, доп. информация</h5>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                        фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та
                        склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
                        прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                        фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та
                        склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
                        прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                </div>
                <div class="projectsCard__content-bottom">
                    <p class="price">Оплата: <span>3000 RUB</span></p>
                    <p class="participants">Исполнители: <span>Иван Иванов, Иван Иванов, Иван Иванов</span></p>
                </div>
            </div>
            <!-- кнопки только на десктопе -->
            <div class="projectsCard__actions flex2 desktop">
                <a href="javascript:void(0)" class="btn">Закрыть проект</a>
                <a href="javascript:void(0)" class="btn">Доложить о готовности</a>
            </div>
            <!---->
            <div class="projectsCard__documents">
                <div class="projectsCard__documents-top">
                    <p class="label">
                        <img src="../img/projects_page/docs.png" alt="image">
                        Приклепленные документы
                    </p>
                    <a href="javascript:void(0)" class="downloadBtn">Скачать все</a>
                </div>
                <div class="projectsCard__documents-slider main-slider">
                    <div class="documets-item">
                        <a href="../img/projects_page/doc1.jpg" target="_blank">
                            <img src="../img/projects_page/doc1.jpg" alt="image">
                        </a>
                        <p>jpg. Пример_1</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc2.png" target="_blank">
                            <img src="../img/projects_page/doc2.png" alt="image">
                        </a>
                        <p>jpg. Пример_2</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc3.png" target="_blank">
                            <img src="../img/projects_page/doc3.png" alt="image">
                        </a>
                        <p>pdf. Каталог Фирмы</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc4.png" target="_blank">
                            <img src="../img/projects_page/doc4.png" alt="image">
                        </a>
                        <p>jpg. Пример_3</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc5.png" target="_blank">
                            <img src="../img/projects_page/doc5.png" alt="image">
                        </a>
                        <p>jpg. Пример_4</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc6.png" target="_blank">
                            <img src="../img/projects_page/doc6.png" alt="image">
                        </a>
                        <p>jpg. Пример_5</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc5.png" target="_blank">
                            <img src="../img/projects_page/doc5.png" alt="image">
                        </a>
                        <p>jpg. Пример_4</p>
                    </div>
                </div>
            </div>
            <div class="projectsCard__tabs chat">
                <div class="projectsCard__tabs-list">
                    <div data-tab="tab-item1" class="tabs-items active">
                        <p><span>Общий чат</span></p>
                    </div>
                    <div data-tab="tab-item2" class="tabs-items">
                        <p>Иван Иванов</p>
                    </div>
                    <div data-tab="tab-item3" class="tabs-items">
                        <p>Иван Иванов</p>
                    </div>
                </div>
                <div class="projectsCard__tabs-content">
                    <div class="tab-item tab-item1 active">
                        <div class="writeMessage">
                            <form class="form-add-file">
                                <div class="writeMessage-text">
                                    <textarea class="checkTextarea" type="text" placeholder="Напишите сообщение"></textarea>
                                    <span class="text-file">Вы цитируете: <span>1 сообщение</span>
                                    <strong class="stop-citat">x</strong></span>
                                </div>
                                <div class="holder-buttons">
                                    <div class="writeMessage-file no-list">
                                        <label for="file1"><i class="icon-icon26"></i></label>
                                    </div>
                                    <div class="writeMessage-file no-list">
                                        <label for="file1"><i class="icon-icon19"></i></label>
                                    </div>
                                    <div class="writeMessage-file">
                                        <i class="icon-paperclip paperclip"></i>
                                        <div class="dropdown-list" style="background-image: url(../img/dropdown.png)">
                                            <ul>
                                                <li>
                                                    <label for="file1">Фотография</label>
                                                </li>
                                                <li>
                                                    <label for="file1">Видеозапись</label>

                                                </li>
                                                <li>
                                                    <label for="file1">Аудиозапись</label>
                                                </li>
                                                <li>
                                                    <label for="file1">Документ</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="files">
                                    <div class="input-foto">
                                        <div class="files">
                                            <div class="file-loading">
                                                <input class="file-add" type="file" id="file1" name="file" multiple="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn">Отправить</button>
                            </form>
                        </div>
                        <div class="row">
                            <div class="row-wrap">
                                <div class="tab-item_top">
                                    <div class="author">
                                        <div class="author-avatar">
                                            <a href="javascript:void(0)">
                                                <img src="../img/search_page/spec5.jpg" alt="avatar">
                                                <span class="status invisible"></span>
                                            </a>
                                        </div>
                                        <div class="author-info">
                                            <a href="javascript:void(0)" class="name">Генадий Анкор </a>
                                            <p class="city">Новосибирск</p>
                                        </div>
                                    </div>
                                    <div class="options">
                                        <a href="javascript:void(0)" class="openBtn"></a>
                                        <div class="optionsList">
                                            <ul>
                                                <li class="li-add-citat">
                                                    <a href="javascript:void(0)" class="add-citat">Добавить цитирование</a>
                                                </li>
                                                <li class="remove-citat">
                                                    <a href="javascript:void(0)" class="stop-citat ">Отменить цитирование</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Отключить цитирование</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item_content with-citat-active">
                                    <span class="span-gal"></span>
                                    <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-wrap">
                                <div class="tab-item_top">
                                    <div class="author">
                                        <div class="author-avatar">
                                            <a href="javascript:void(0)">
                                                <img src="../img/search_page/spec5.jpg" alt="avatar">
                                                <span class="status invisible"></span>
                                            </a>
                                        </div>
                                        <div class="author-info">
                                            <a href="javascript:void(0)" class="name">Иван Иванов </a>
                                            <p class="city">Новосибирск</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item_content">
                                    <span class="span-gal"></span>
                                    <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                                </div>
                                <div class="projectsCard__documents">
                                    <div class="projectsCard__documents-slider">
                                        <div class="documets-item">
                                            <a href="../img/projects_page/doc7.png" target="_blank">
                                                <img src="../img/projects_page/doc7.png" alt="image">
                                            </a>
                                        </div>
                                        <div class="documets-item">
                                            <a href="../img/projects_page/doc8.png" target="_blank">
                                                <img src="../img/projects_page/doc8.png" alt="image">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-wrap">
                                <div class="tab-item_top">
                                    <div class="author">
                                        <div class="author-avatar">
                                            <a href="javascript:void(0)">
                                                <img src="../img/search_page/spec5.jpg" alt="avatar">
                                                <span class="status invisible"></span>
                                            </a>
                                        </div>
                                        <div class="author-info">
                                            <a href="javascript:void(0)" class="name">Генадий Анкор </a>
                                            <p class="city">Новосибирск</p>
                                        </div>
                                    </div>
                                    <div class="options">
                                        <a href="javascript:void(0)" class="openBtn"></a>
                                        <div class="optionsList">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">Добавить собеседника</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Отключить уведомления</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-item_content">
                                    <span class="span-gal"></span>
                                    <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                                    <div class="citation-text">
                                        <div class="citation-item tab-item_top">
                                            <div class="author">
                                                <div class="author-avatar">
                                                    <a href="javascript:void(0)">
                                                        <img src="../img/search_page/spec5.jpg" alt="avatar">
                                                        <span class="status invisible"></span>
                                                    </a>
                                                </div>
                                                <div class="author-info">
                                                    <a href="javascript:void(0)" class="name">Генадий Анкор </a>
                                                    <p class="city">Новосибирск</p>
                                                </div>
                                            </div>
                                            <p class="text">Привет. Рад был с вами работать. Фотосессия прошла на
                                                отлично!</p>
                                        </div>
                                        <div class="citation-item tab-item_top">
                                            <div class="author">
                                                <div class="author-avatar">
                                                    <a href="javascript:void(0)">
                                                        <img src="../img/search_page/spec5.jpg" alt="avatar">
                                                        <span class="status invisible"></span>
                                                    </a>
                                                </div>
                                                <div class="author-info">
                                                    <a href="javascript:void(0)" class="name">Генадий Анкор </a>
                                                    <p class="city">Новосибирск</p>
                                                </div>
                                            </div>
                                            <p class="text">Привет. Рад был с вами работать. Фотосессия прошла на
                                                отлично!</p>
                                        </div>
                                        <div class="citation-item tab-item_top">
                                            <div class="author">
                                                <div class="author-avatar">
                                                    <a href="javascript:void(0)">
                                                        <img src="../img/search_page/spec5.jpg" alt="avatar">
                                                        <span class="status invisible"></span>
                                                    </a>
                                                </div>
                                                <div class="author-info">
                                                    <a href="javascript:void(0)" class="name">Генадий Анкор </a>
                                                    <p class="city">Новосибирск</p>
                                                </div>
                                            </div>
                                            <p class="text">Привет. Рад был с вами работать. Фотосессия прошла на
                                                отлично!</p>
                                            <div class="documents-slider_interior">
                                                <div class="slider_interior">
                                                    <div class="documets-item">
                                                        <a href="../img/projects_page/doc7.png" target="_blank">
                                                            <img src="../img/projects_page/doc7.png" alt="image">
                                                        </a>
                                                    </div>
                                                    <div class="documets-item">
                                                        <a href="../img/projects_page/doc8.png" target="_blank">
                                                            <img src="../img/projects_page/doc8.png" alt="image">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-item tab-item2">
                        <div class="row">
                            <div class="row-wrap">
                                <div class="tab-item_top">
                                    <div class="author">
                                        <div class="author-avatar">
                                            <a href="javascript:void(0)">
                                                <img src="../img/search_page/spec5.jpg" alt="avatar">
                                                <span class="status invisible"></span>
                                            </a>
                                        </div>
                                        <div class="author-info">
                                            <a href="javascript:void(0)" class="name">Иван Иванов 2 </a>
                                            <p class="city">Новосибирск</p>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        <p>
                                            Иван Иванов
                                            <span>(5826 <i class="icon-icon1"></i>)</span>
                                        </p>
                                        <p>Положительных отзывов 100%</p>
                                    </div>
                                </div>
                                <div class="tab-item_content">
                                    <span class="span-gal"></span>
                                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem
                                        Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                        взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки
                                        успішно пережила п'ять століть, але й прижилася в електронному верстуванні,
                                        залишаючись по суті незмінною.</p>
                                </div>

                                <div class="projectsCard__documents">
                                    <div class="projectsCard__documents-top">
                                        <p class="label">
                                            <img src="../img/projects_page/docs.png" alt="image">
                                            Приклепленные документы
                                        </p>
                                        <a href="javascript:void(0)" class="downloadBtn">Скачать все</a>
                                    </div>
                                    <div class="projectsCard__documents-slider">
                                        <div class="documets-item">
                                            <a href="../img/projects_page/doc7.png" target="_blank">
                                                <img src="../img/projects_page/doc7.png" alt="image">
                                            </a>
                                            <p>jpg. Пример_1</p>
                                        </div>
                                        <div class="documets-item">
                                            <a href="../img/projects_page/doc8.png" target="_blank">
                                                <img src="../img/projects_page/doc8.png" alt="image">
                                            </a>
                                            <p>jpg. Пример_2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-item tab-item3">
                        <div class="row">
                            <div class="row-wrap">
                                <div class="tab-item_top">
                                    <div class="author">
                                        <div class="author-avatar">
                                            <a href="javascript:void(0)">
                                                <img src="../img/search_page/spec5.jpg" alt="avatar">
                                                <span class="status invisible"></span>
                                            </a>
                                        </div>
                                        <div class="author-info">
                                            <a href="javascript:void(0)" class="name">Иван Иванов3 </a>
                                            <p class="city">Новосибирск</p>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        <p>
                                            Иван Иванов
                                            <span>(5826 <i class="icon-icon1"></i>)</span>
                                        </p>
                                        <p>Положительных отзывов 100%</p>
                                    </div>
                                </div>
                                <div class="tab-item_content">
                                    <span class="span-gal"></span>
                                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem
                                        Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя</p>
                                </div>

                                <div class="projectsCard__documents">
                                    <div class="projectsCard__documents-top">
                                        <p class="label">
                                            <img src="../img/projects_page/docs.png" alt="image">
                                            Приклепленные документы
                                        </p>
                                        <a href="javascript:void(0)" class="downloadBtn">Скачать все</a>
                                    </div>
                                    <div class="projectsCard__documents-slider">
                                        <div class="documets-item">
                                            <a href="../img/projects_page/doc7.png" target="_blank">
                                                <img src="../img/projects_page/doc7.png" alt="image">
                                            </a>
                                            <p>jpg. Пример_1</p>
                                        </div>
                                        <div class="documets-item">
                                            <a href="../img/projects_page/doc8.png" target="_blank">
                                                <img src="../img/projects_page/doc8.png" alt="image">
                                            </a>
                                            <p>jpg. Пример_2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
    <div class="footer-container">
        <div class="container">
            <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
            <div class="footer-content clearfix">
                <nav>
                    <ul>
                        <li><a href="specialists.html">Специалисты</a></li>
                        <li><a href="organizations.html">Организации</a></li>
                        <li><a href="events.html">События</a></li>
                        <li><a href="score.html">Магазин</a></li>
                    </ul>
                </nav>
                <ul class="sosial">
                    <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                </ul>
                <p>© 2018 Все права защищены</p>
            </div>
        </div>
    </div>
</footer>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/fileinput.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/profile-messages.min.js"></script>

    <script src="../js/script.min.js"></script>
    <script src="../js/project_сard.min.js"></script>
    <script src="../js/chat-with-citat.min.js"></script>

</body>

</html>