<!-- Создание компании -->
<div class="overlay-createCompany overlayPopup">
    <div class="close"></div>
    <div class="createCompany__popup mCustomScrollbar">
        <span class="close-popup closeBtn"></span>
        <div class="heading">
            <p>Создание компании</p>
        </div>
        <div class="mainInfo">
            <div class="profile-createCompany">
                <form>
                    <div class="create-body">
                        <div class="form-input name">
                            <label>Название </label>
                            <input type="text">
                        </div>
                        <div class="form-flex">
                            <div class="form-select item">
                                <label>Тип компании</label>
                                <select
                                    data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>Фотостудия</option>
                                    <option>Видеостудия</option>
                                    <option>Модельное агентство</option>
                                    <option>Фотошкола</option>
                                    <option>Магазин</option>
                                    <option>Костюмерная</option>
                                    <option>Мастерская</option>
                                    <option>Другое</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-input item">
                            <label>Страна</label>
                            <input type="text">
                        </div>
                        <div class="form-input item">
                            <label>Город</label>
                            <input type="text">
                        </div>
                        <div class="form-row">
                            <div class="title">
                                <p>Адрес</p>
                                <span class="add_address">Указать адрес</span>
                            </div>
                        </div>
                        <div class="form-input item">
                            <label>Ссылка на сайт</label>
                            <input type="text" placeholder="www.photostudio.ru">
                            <div class="check">
                                <input type="checkbox">
                                <label>сайт компании отсутствует</label>
                            </div>
                        </div>
                        <div class="form-input item">
                            <label>Ссылка на страницу в соц.сетях</label>
                            <input type="text">
                            <div class="check">
                                <input type="checkbox">
                                <label>социальная сеть отсутствует</label>
                            </div>
                        </div>
                        <div class="form-input item">
                            <label>Контактный номер компании</label>
                            <input type="text">
                        </div>
                        <div class="form-input item">
                            <label>Должность (введите Вашу должность в компании)</label>
                            <input type="text">
                        </div>
                        <div class="check check-row">
                            <input type="checkbox">
                            <label>Я прочитал и согласен с правилами регистрации Компаний </label>
                        </div>
                        <div class="form-action">
                            <button type="button" class="cancel">Отмена</button>
                            <button type="button" class="confirm">Создать компанию</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- конец Создание компании -->