<div class="event__popup">
    <div class="popup__container">
        <div class="popup__body">
            
            <div class="popup__heading">
                <div class="popup__heading_title">
                    <h4>Создание события</h4>
                </div>
                <div class="popup__closeBtn"></div>
            </div><!-- /.popup__heading -->

            <div class="popup__main">
                <div class="popup__main_title">
                    <h4>Сообщите пользователям сайта 
                        о своем мастер-классе, воркшопе, лекции, курсе, семинаре 
                        или фототуре.
                    </h4>
                    <h4><span class="bold">Внимание, размещение события – платное</span>, ознакомьтесь 
                        с <span class="underline">правилами размещения событий.</span>
                    </h4>
                </div>
                <div class="popup__download">
                    <img src="img/photo-icon.png" alt="icon">
                    <p>Загрузить фото</p>
                </div>
                <div class="form__input">
                    <label>Название</label>
                    <input type="text">
                </div>
                <div class="form__textarea">
                    <label>Описание события</label>
                    <textarea></textarea>
                </div>
                <div class="attached_doc">
                    <div class="attached_doc-title">
                        <img src="../img/link-icon.png" alt="link-icon">
                        <p>Приклепленные документы</p>
                    </div>
                    <div class="files">
                        
                    </div>
                </div>
            </div><!-- /.popup__main -->

        </div><!-- /.popup__body -->
    </div><!-- /.popup__container -->
</div>