<div class="close background-pop"></div>

<div class="pop-up delete-pop">
  <div class="container-pop">
    <h4>Вы действительно хотите удалить опцию из заказа?</h4>
    <form action=''>
      <button class="delete-this-serv close">Удалить</button>      
      <button class="gray close">Отмена</button>
    </form>
  </div>
</div>

<div class="pop-up thank-pop">
  <div class="container-pop">
    <h4>Спасибо! Услуги автоматически активируются в ближайшее время после оплаты!</h4>
    <form action=''>
      <button class="close">Закрыть</button>      
    </form>
  </div>
</div>