<div class="back-dark"></div>

<div class="pop-up-del pop-rec-step1">
  <div class="close-pop">
    <p>x</p>
  </div>
  <div class="content">
    <h4>Восстановление страницы</h4>
    <p>Вы действительно хотите востановить
      страницу?</p>
    <div class="two-button">
      <p class="button-pop blue-but open-step3">Восстановить</p>
      <p class="button-pop white-but close-pop2">Отмена</p>
    </div>
  </div>
</div>

<div class="pop-up-del pop-rec-step3">
  <div class="close-pop">
    <p>x</p>
  </div>
  <div class="content">
    <h4>Страница восстановлена</h4>
    <div class="two-button">
      <p class="button-pop blue-but close-pop2">Oк</p>
    </div>
  </div>
</div>

<div class="pop-up-del pop-rec-step2">
  <div class="close-pop">
    <p>x</p>
  </div>
  <div class="content">
    <h4>Запрос на восстановление страницы</h4>
    <p>Для восстановления свяжитесь с администрацией</p>
    <textarea placeholder="Текст"></textarea>
    <span>Ограниченно в 1000 символов</span>
    <div class="two-button">
      <button class="button-pop blue-but open-step4">Отправить</button>
      <p class="button-pop white-but close-pop2">Отмена</p>
    </div>
  </div>
</div>

<div class="pop-up-del pop-rec-step4">
  <div class="close-pop">
    <p>x</p>
  </div>
  <div class="content">
    <h4>Запрос успешно отправлен</h4>
    <p></p>
    <div class="two-button">
      <p class="button-pop blue-but close-pop2">Ок</p>
    </div>
  </div>
</div>