<div class="close background-pop"></div>

<div class="pop-up send-check-pop">
  <div class="container-pop">
    <h3>Отправка чека</h3>
    <p>Укажите Email, на который нужно отправить электронный чек</p>
    <form action=''>
      <input type="email" placeholder="ivanovsergey@gmail.com" required>
      <button class="open-yes-pop">ОТПРАВИТЬ</button>
    </form>
  </div>
</div>

<div class="pop-up yes-pop">
  <div class="container-pop">
    <h4>Электронный чек отправлен на указанный адрес</h4>
    <form action=''>
      <button class="close">Закрыть</button>      
    </form>
  </div>
</div>

<div class="pop-up delete-card-p">
  <div class="container-pop">
    <h4>Вы действительно хотите удалить карту оплаты из Вашего личного кабинета?</h4>
    <form action=''>
      <button class="delete-this-serv close">Подтвердить</button>      
      <button class="gray close">Отмена</button>
    </form>
  </div>
</div>