<!-- Pop-up контакты-->
<div class="overlay-contacts overlayPopup">
    <div class="close"></div>
    <div class="contacts__popup">
        <span class="close-popup closeBtn"></span>
        <div class="heading">
            <p>Контакты</p>
        </div>
        <div class="mainInfo">
            <div class="profile-contacts mCustomScrollbar">
                <ul>
                    <li>
                        <div class="avatar">
                            <img src="../img/company-img3.png" alt="">
                            <a href="profile-expert.html" class="link"></a>
                            <div class="avatar-text">
                                <h4><a href="profile-expert.html"></a>Иван Иванов
                                </h4>
                                <p>Администратор</p>
                                <span>Деятельность ?</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="avatar">
                            <img src="../img/company-img3.png" alt="">
                            <a href="profile-expert.html" class="link"></a>
                            <div class="avatar-text">
                                <h4><a href="profile-expert.html"></a>Иван Иванов
                                </h4>
                                <p>Модератор</p>
                                <span>Деятельность ?</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="avatar">
                            <img src="../img/company-img3.png" alt="">
                            <a href="profile-expert.html" class="link"></a>
                            <div class="avatar-text">
                                <h4><a href="profile-expert.html"></a>Иван Иванов
                                </h4>
                                <p>Владелец</p>
                                <span>Деятельность ?</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Конец -->